# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\flc\Formal-Languages-and-Compiler-Design\FA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
